// Variables
// --------------------------

$mi-sass-asset-helper: false !default;

$mi-font-path: if($mi-sass-asset-helper, "material-icons", "../fonts/material-icons") !default;

$mi-font-size-base:    16px !default;
$mi-font-display:      auto !default;
$mi-css-prefix:        mi !default;
$mi-version:           "3.0.1" !default;
$mi-border-color:      #eee !default;
$mi-inverse:           #fff !default;
$mi-li-width:          2em !default;
$mi-fw-width:          (20em / 16);
$mi-primary-opacity:   1 !default;
$mi-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function mi-content($mi-var) {
  @return unquote("\"#{ $mi-var }\"");
}

$mi-var-3d-rotation: \e84d;
$mi-var-ac-unit: \eb3b;
$mi-var-access-alarm: \e190;
$mi-var-access-alarms: \e191;
$mi-var-access-time: \e192;
$mi-var-accessibility: \e84e;
$mi-var-accessible: \e914;
$mi-var-account-balance: \e84f;
$mi-var-account-balance-wallet: \e850;
$mi-var-account-box: \e851;
$mi-var-account-circle: \e853;
$mi-var-adb: \e60e;
$mi-var-add: \e145;
$mi-var-add-a-photo: \e439;
$mi-var-add-alarm: \e193;
$mi-var-add-alert: \e003;
$mi-var-add-box: \e146;
$mi-var-add-circle: \e147;
$mi-var-add-circle-outline: \e148;
$mi-var-add-location: \e567;
$mi-var-add-shopping-cart: \e854;
$mi-var-add-to-photos: \e39d;
$mi-var-add-to-queue: \e05c;
$mi-var-adjust: \e39e;
$mi-var-airline-seat-flat: \e630;
$mi-var-airline-seat-flat-angled: \e631;
$mi-var-airline-seat-individual-suite: \e632;
$mi-var-airline-seat-legroom-extra: \e633;
$mi-var-airline-seat-legroom-normal: \e634;
$mi-var-airline-seat-legroom-reduced: \e635;
$mi-var-airline-seat-recline-extra: \e636;
$mi-var-airline-seat-recline-normal: \e637;
$mi-var-airplanemode-active: \e195;
$mi-var-airplanemode-inactive: \e194;
$mi-var-airplay: \e055;
$mi-var-airport-shuttle: \eb3c;
$mi-var-alarm: \e855;
$mi-var-alarm-add: \e856;
$mi-var-alarm-off: \e857;
$mi-var-alarm-on: \e858;
$mi-var-album: \e019;
$mi-var-all-inclusive: \eb3d;
$mi-var-all-out: \e90b;
$mi-var-android: \e859;
$mi-var-announcement: \e85a;
$mi-var-apps: \e5c3;
$mi-var-archive: \e149;
$mi-var-arrow-back: \e5c4;
$mi-var-arrow-downward: \e5db;
$mi-var-arrow-drop-down: \e5c5;
$mi-var-arrow-drop-down-circle: \e5c6;
$mi-var-arrow-drop-up: \e5c7;
$mi-var-arrow-forward: \e5c8;
$mi-var-arrow-upward: \e5d8;
$mi-var-art-track: \e060;
$mi-var-aspect-ratio: \e85b;
$mi-var-assessment: \e85c;
$mi-var-assignment: \e85d;
$mi-var-assignment-ind: \e85e;
$mi-var-assignment-late: \e85f;
$mi-var-assignment-return: \e860;
$mi-var-assignment-returned: \e861;
$mi-var-assignment-turned-in: \e862;
$mi-var-assistant: \e39f;
$mi-var-assistant-photo: \e3a0;
$mi-var-attach-file: \e226;
$mi-var-attach-money: \e227;
$mi-var-attachment: \e2bc;
$mi-var-audiotrack: \e3a1;
$mi-var-autorenew: \e863;
$mi-var-av-timer: \e01b;
$mi-var-backspace: \e14a;
$mi-var-backup: \e864;
$mi-var-battery-alert: \e19c;
$mi-var-battery-charging-full: \e1a3;
$mi-var-battery-full: \e1a4;
$mi-var-battery-std: \e1a5;
$mi-var-battery-unknown: \e1a6;
$mi-var-beach-access: \eb3e;
$mi-var-beenhere: \e52d;
$mi-var-block: \e14b;
$mi-var-bluetooth: \e1a7;
$mi-var-bluetooth-audio: \e60f;
$mi-var-bluetooth-connected: \e1a8;
$mi-var-bluetooth-disabled: \e1a9;
$mi-var-bluetooth-searching: \e1aa;
$mi-var-blur-circular: \e3a2;
$mi-var-blur-linear: \e3a3;
$mi-var-blur-off: \e3a4;
$mi-var-blur-on: \e3a5;
$mi-var-book: \e865;
$mi-var-bookmark: \e866;
$mi-var-bookmark-border: \e867;
$mi-var-border-all: \e228;
$mi-var-border-bottom: \e229;
$mi-var-border-clear: \e22a;
$mi-var-border-color: \e22b;
$mi-var-border-horizontal: \e22c;
$mi-var-border-inner: \e22d;
$mi-var-border-left: \e22e;
$mi-var-border-outer: \e22f;
$mi-var-border-right: \e230;
$mi-var-border-style: \e231;
$mi-var-border-top: \e232;
$mi-var-border-vertical: \e233;
$mi-var-branding-watermark: \e06b;
$mi-var-brightness-1: \e3a6;
$mi-var-brightness-2: \e3a7;
$mi-var-brightness-3: \e3a8;
$mi-var-brightness-4: \e3a9;
$mi-var-brightness-5: \e3aa;
$mi-var-brightness-6: \e3ab;
$mi-var-brightness-7: \e3ac;
$mi-var-brightness-auto: \e1ab;
$mi-var-brightness-high: \e1ac;
$mi-var-brightness-low: \e1ad;
$mi-var-brightness-medium: \e1ae;
$mi-var-broken-image: \e3ad;
$mi-var-brush: \e3ae;
$mi-var-bubble-chart: \e6dd;
$mi-var-bug-report: \e868;
$mi-var-build: \e869;
$mi-var-burst-mode: \e43c;
$mi-var-business: \e0af;
$mi-var-business-center: \eb3f;
$mi-var-cached: \e86a;
$mi-var-cake: \e7e9;
$mi-var-call: \e0b0;
$mi-var-call-end: \e0b1;
$mi-var-call-made: \e0b2;
$mi-var-call-merge: \e0b3;
$mi-var-call-missed: \e0b4;
$mi-var-call-missed-outgoing: \e0e4;
$mi-var-call-received: \e0b5;
$mi-var-call-split: \e0b6;
$mi-var-call-to-action: \e06c;
$mi-var-camera: \e3af;
$mi-var-camera-alt: \e3b0;
$mi-var-camera-enhance: \e8fc;
$mi-var-camera-front: \e3b1;
$mi-var-camera-rear: \e3b2;
$mi-var-camera-roll: \e3b3;
$mi-var-cancel: \e5c9;
$mi-var-card-giftcard: \e8f6;
$mi-var-card-membership: \e8f7;
$mi-var-card-travel: \e8f8;
$mi-var-casino: \eb40;
$mi-var-cast: \e307;
$mi-var-cast-connected: \e308;
$mi-var-center-focus-strong: \e3b4;
$mi-var-center-focus-weak: \e3b5;
$mi-var-change-history: \e86b;
$mi-var-chat: \e0b7;
$mi-var-chat-bubble: \e0ca;
$mi-var-chat-bubble-outline: \e0cb;
$mi-var-check: \e5ca;
$mi-var-check-box: \e834;
$mi-var-check-box-outline-blank: \e835;
$mi-var-check-circle: \e86c;
$mi-var-chevron-left: \e5cb;
$mi-var-chevron-right: \e5cc;
$mi-var-child-care: \eb41;
$mi-var-child-friendly: \eb42;
$mi-var-chrome-reader-mode: \e86d;
$mi-var-class: \e86e;
$mi-var-clear: \e14c;
$mi-var-clear-all: \e0b8;
$mi-var-close: \e5cd;
$mi-var-closed-caption: \e01c;
$mi-var-cloud: \e2bd;
$mi-var-cloud-circle: \e2be;
$mi-var-cloud-done: \e2bf;
$mi-var-cloud-download: \e2c0;
$mi-var-cloud-off: \e2c1;
$mi-var-cloud-queue: \e2c2;
$mi-var-cloud-upload: \e2c3;
$mi-var-code: \e86f;
$mi-var-collections: \e3b6;
$mi-var-collections-bookmark: \e431;
$mi-var-color-lens: \e3b7;
$mi-var-colorize: \e3b8;
$mi-var-comment: \e0b9;
$mi-var-compare: \e3b9;
$mi-var-compare-arrows: \e915;
$mi-var-computer: \e30a;
$mi-var-confirmation-number: \e638;
$mi-var-contact-mail: \e0d0;
$mi-var-contact-phone: \e0cf;
$mi-var-contacts: \e0ba;
$mi-var-content-copy: \e14d;
$mi-var-content-cut: \e14e;
$mi-var-content-paste: \e14f;
$mi-var-control-point: \e3ba;
$mi-var-control-point-duplicate: \e3bb;
$mi-var-copyright: \e90c;
$mi-var-create: \e150;
$mi-var-create-new-folder: \e2cc;
$mi-var-credit-card: \e870;
$mi-var-crop: \e3be;
$mi-var-crop-16-9: \e3bc;
$mi-var-crop-3-2: \e3bd;
$mi-var-crop-5-4: \e3bf;
$mi-var-crop-7-5: \e3c0;
$mi-var-crop-din: \e3c1;
$mi-var-crop-free: \e3c2;
$mi-var-crop-landscape: \e3c3;
$mi-var-crop-original: \e3c4;
$mi-var-crop-portrait: \e3c5;
$mi-var-crop-rotate: \e437;
$mi-var-crop-square: \e3c6;
$mi-var-dashboard: \e871;
$mi-var-data-usage: \e1af;
$mi-var-date-range: \e916;
$mi-var-dehaze: \e3c7;
$mi-var-delete: \e872;
$mi-var-delete-forever: \e92b;
$mi-var-delete-sweep: \e16c;
$mi-var-description: \e873;
$mi-var-desktop-mac: \e30b;
$mi-var-desktop-windows: \e30c;
$mi-var-details: \e3c8;
$mi-var-developer-board: \e30d;
$mi-var-developer-mode: \e1b0;
$mi-var-device-hub: \e335;
$mi-var-devices: \e1b1;
$mi-var-devices-other: \e337;
$mi-var-dialer-sip: \e0bb;
$mi-var-dialpad: \e0bc;
$mi-var-directions: \e52e;
$mi-var-directions-bike: \e52f;
$mi-var-directions-boat: \e532;
$mi-var-directions-bus: \e530;
$mi-var-directions-car: \e531;
$mi-var-directions-railway: \e534;
$mi-var-directions-run: \e566;
$mi-var-directions-subway: \e533;
$mi-var-directions-transit: \e535;
$mi-var-directions-walk: \e536;
$mi-var-disc-full: \e610;
$mi-var-dns: \e875;
$mi-var-do-not-disturb: \e612;
$mi-var-do-not-disturb-alt: \e611;
$mi-var-do-not-disturb-off: \e643;
$mi-var-do-not-disturb-on: \e644;
$mi-var-dock: \e30e;
$mi-var-domain: \e7ee;
$mi-var-done: \e876;
$mi-var-done-all: \e877;
$mi-var-donut-large: \e917;
$mi-var-donut-small: \e918;
$mi-var-drafts: \e151;
$mi-var-drag-handle: \e25d;
$mi-var-drive-eta: \e613;
$mi-var-dvr: \e1b2;
$mi-var-edit: \e3c9;
$mi-var-edit-location: \e568;
$mi-var-eject: \e8fb;
$mi-var-email: \e0be;
$mi-var-enhanced-encryption: \e63f;
$mi-var-equalizer: \e01d;
$mi-var-error: \e000;
$mi-var-error-outline: \e001;
$mi-var-euro-symbol: \e926;
$mi-var-ev-station: \e56d;
$mi-var-event: \e878;
$mi-var-event-available: \e614;
$mi-var-event-busy: \e615;
$mi-var-event-note: \e616;
$mi-var-event-seat: \e903;
$mi-var-exit-to-app: \e879;
$mi-var-expand-less: \e5ce;
$mi-var-expand-more: \e5cf;
$mi-var-explicit: \e01e;
$mi-var-explore: \e87a;
$mi-var-exposure: \e3ca;
$mi-var-exposure-neg-1: \e3cb;
$mi-var-exposure-neg-2: \e3cc;
$mi-var-exposure-plus-1: \e3cd;
$mi-var-exposure-plus-2: \e3ce;
$mi-var-exposure-zero: \e3cf;
$mi-var-extension: \e87b;
$mi-var-face: \e87c;
$mi-var-fast-forward: \e01f;
$mi-var-fast-rewind: \e020;
$mi-var-favorite: \e87d;
$mi-var-favorite-border: \e87e;
$mi-var-featured-play-list: \e06d;
$mi-var-featured-video: \e06e;
$mi-var-feedback: \e87f;
$mi-var-fiber-dvr: \e05d;
$mi-var-fiber-manual-record: \e061;
$mi-var-fiber-new: \e05e;
$mi-var-fiber-pin: \e06a;
$mi-var-fiber-smart-record: \e062;
$mi-var-file-download: \e2c4;
$mi-var-file-upload: \e2c6;
$mi-var-filter: \e3d3;
$mi-var-filter-1: \e3d0;
$mi-var-filter-2: \e3d1;
$mi-var-filter-3: \e3d2;
$mi-var-filter-4: \e3d4;
$mi-var-filter-5: \e3d5;
$mi-var-filter-6: \e3d6;
$mi-var-filter-7: \e3d7;
$mi-var-filter-8: \e3d8;
$mi-var-filter-9: \e3d9;
$mi-var-filter-9-plus: \e3da;
$mi-var-filter-b-and-w: \e3db;
$mi-var-filter-center-focus: \e3dc;
$mi-var-filter-drama: \e3dd;
$mi-var-filter-frames: \e3de;
$mi-var-filter-hdr: \e3df;
$mi-var-filter-list: \e152;
$mi-var-filter-none: \e3e0;
$mi-var-filter-tilt-shift: \e3e2;
$mi-var-filter-vintage: \e3e3;
$mi-var-find-in-page: \e880;
$mi-var-find-replace: \e881;
$mi-var-fingerprint: \e90d;
$mi-var-first-page: \e5dc;
$mi-var-fitness-center: \eb43;
$mi-var-flag: \e153;
$mi-var-flare: \e3e4;
$mi-var-flash-auto: \e3e5;
$mi-var-flash-off: \e3e6;
$mi-var-flash-on: \e3e7;
$mi-var-flight: \e539;
$mi-var-flight-land: \e904;
$mi-var-flight-takeoff: \e905;
$mi-var-flip: \e3e8;
$mi-var-flip-to-back: \e882;
$mi-var-flip-to-front: \e883;
$mi-var-folder: \e2c7;
$mi-var-folder-open: \e2c8;
$mi-var-folder-shared: \e2c9;
$mi-var-folder-special: \e617;
$mi-var-font-download: \e167;
$mi-var-format-align-center: \e234;
$mi-var-format-align-justify: \e235;
$mi-var-format-align-left: \e236;
$mi-var-format-align-right: \e237;
$mi-var-format-bold: \e238;
$mi-var-format-clear: \e239;
$mi-var-format-color-fill: \e23a;
$mi-var-format-color-reset: \e23b;
$mi-var-format-color-text: \e23c;
$mi-var-format-indent-decrease: \e23d;
$mi-var-format-indent-increase: \e23e;
$mi-var-format-italic: \e23f;
$mi-var-format-line-spacing: \e240;
$mi-var-format-list-bulleted: \e241;
$mi-var-format-list-numbered: \e242;
$mi-var-format-paint: \e243;
$mi-var-format-quote: \e244;
$mi-var-format-shapes: \e25e;
$mi-var-format-size: \e245;
$mi-var-format-strikethrough: \e246;
$mi-var-format-textdirection-l-to-r: \e247;
$mi-var-format-textdirection-r-to-l: \e248;
$mi-var-format-underlined: \e249;
$mi-var-forum: \e0bf;
$mi-var-forward: \e154;
$mi-var-forward-10: \e056;
$mi-var-forward-30: \e057;
$mi-var-forward-5: \e058;
$mi-var-free-breakfast: \eb44;
$mi-var-fullscreen: \e5d0;
$mi-var-fullscreen-exit: \e5d1;
$mi-var-functions: \e24a;
$mi-var-g-translate: \e927;
$mi-var-gamepad: \e30f;
$mi-var-games: \e021;
$mi-var-gavel: \e90e;
$mi-var-gesture: \e155;
$mi-var-get-app: \e884;
$mi-var-gif: \e908;
$mi-var-golf-course: \eb45;
$mi-var-gps-fixed: \e1b3;
$mi-var-gps-not-fixed: \e1b4;
$mi-var-gps-off: \e1b5;
$mi-var-grade: \e885;
$mi-var-gradient: \e3e9;
$mi-var-grain: \e3ea;
$mi-var-graphic-eq: \e1b8;
$mi-var-grid-off: \e3eb;
$mi-var-grid-on: \e3ec;
$mi-var-group: \e7ef;
$mi-var-group-add: \e7f0;
$mi-var-group-work: \e886;
$mi-var-hd: \e052;
$mi-var-hdr-off: \e3ed;
$mi-var-hdr-on: \e3ee;
$mi-var-hdr-strong: \e3f1;
$mi-var-hdr-weak: \e3f2;
$mi-var-headset: \e310;
$mi-var-headset-mic: \e311;
$mi-var-healing: \e3f3;
$mi-var-hearing: \e023;
$mi-var-help: \e887;
$mi-var-help-outline: \e8fd;
$mi-var-high-quality: \e024;
$mi-var-highlight: \e25f;
$mi-var-highlight-off: \e888;
$mi-var-history: \e889;
$mi-var-home: \e88a;
$mi-var-hot-tub: \eb46;
$mi-var-hotel: \e53a;
$mi-var-hourglass-empty: \e88b;
$mi-var-hourglass-full: \e88c;
$mi-var-http: \e902;
$mi-var-https: \e88d;
$mi-var-image: \e3f4;
$mi-var-image-aspect-ratio: \e3f5;
$mi-var-import-contacts: \e0e0;
$mi-var-import-export: \e0c3;
$mi-var-important-devices: \e912;
$mi-var-inbox: \e156;
$mi-var-indeterminate-check-box: \e909;
$mi-var-info: \e88e;
$mi-var-info-outline: \e88f;
$mi-var-input: \e890;
$mi-var-insert-chart: \e24b;
$mi-var-insert-comment: \e24c;
$mi-var-insert-drive-file: \e24d;
$mi-var-insert-emoticon: \e24e;
$mi-var-insert-invitation: \e24f;
$mi-var-insert-link: \e250;
$mi-var-insert-photo: \e251;
$mi-var-invert-colors: \e891;
$mi-var-invert-colors-off: \e0c4;
$mi-var-iso: \e3f6;
$mi-var-keyboard: \e312;
$mi-var-keyboard-arrow-down: \e313;
$mi-var-keyboard-arrow-left: \e314;
$mi-var-keyboard-arrow-right: \e315;
$mi-var-keyboard-arrow-up: \e316;
$mi-var-keyboard-backspace: \e317;
$mi-var-keyboard-capslock: \e318;
$mi-var-keyboard-hide: \e31a;
$mi-var-keyboard-return: \e31b;
$mi-var-keyboard-tab: \e31c;
$mi-var-keyboard-voice: \e31d;
$mi-var-kitchen: \eb47;
$mi-var-label: \e892;
$mi-var-label-outline: \e893;
$mi-var-landscape: \e3f7;
$mi-var-language: \e894;
$mi-var-laptop: \e31e;
$mi-var-laptop-chromebook: \e31f;
$mi-var-laptop-mac: \e320;
$mi-var-laptop-windows: \e321;
$mi-var-last-page: \e5dd;
$mi-var-launch: \e895;
$mi-var-layers: \e53b;
$mi-var-layers-clear: \e53c;
$mi-var-leak-add: \e3f8;
$mi-var-leak-remove: \e3f9;
$mi-var-lens: \e3fa;
$mi-var-library-add: \e02e;
$mi-var-library-books: \e02f;
$mi-var-library-music: \e030;
$mi-var-lightbulb-outline: \e90f;
$mi-var-line-style: \e919;
$mi-var-line-weight: \e91a;
$mi-var-linear-scale: \e260;
$mi-var-link: \e157;
$mi-var-linked-camera: \e438;
$mi-var-list: \e896;
$mi-var-live-help: \e0c6;
$mi-var-live-tv: \e639;
$mi-var-local-activity: \e53f;
$mi-var-local-airport: \e53d;
$mi-var-local-atm: \e53e;
$mi-var-local-bar: \e540;
$mi-var-local-cafe: \e541;
$mi-var-local-car-wash: \e542;
$mi-var-local-convenience-store: \e543;
$mi-var-local-dining: \e556;
$mi-var-local-drink: \e544;
$mi-var-local-florist: \e545;
$mi-var-local-gas-station: \e546;
$mi-var-local-grocery-store: \e547;
$mi-var-local-hospital: \e548;
$mi-var-local-hotel: \e549;
$mi-var-local-laundry-service: \e54a;
$mi-var-local-library: \e54b;
$mi-var-local-mall: \e54c;
$mi-var-local-movies: \e54d;
$mi-var-local-offer: \e54e;
$mi-var-local-parking: \e54f;
$mi-var-local-pharmacy: \e550;
$mi-var-local-phone: \e551;
$mi-var-local-pizza: \e552;
$mi-var-local-play: \e553;
$mi-var-local-post-office: \e554;
$mi-var-local-printshop: \e555;
$mi-var-local-see: \e557;
$mi-var-local-shipping: \e558;
$mi-var-local-taxi: \e559;
$mi-var-location-city: \e7f1;
$mi-var-location-disabled: \e1b6;
$mi-var-location-off: \e0c7;
$mi-var-location-on: \e0c8;
$mi-var-location-searching: \e1b7;
$mi-var-lock: \e897;
$mi-var-lock-open: \e898;
$mi-var-lock-outline: \e899;
$mi-var-looks: \e3fc;
$mi-var-looks-3: \e3fb;
$mi-var-looks-4: \e3fd;
$mi-var-looks-5: \e3fe;
$mi-var-looks-6: \e3ff;
$mi-var-looks-one: \e400;
$mi-var-looks-two: \e401;
$mi-var-loop: \e028;
$mi-var-loupe: \e402;
$mi-var-low-priority: \e16d;
$mi-var-loyalty: \e89a;
$mi-var-mail: \e158;
$mi-var-mail-outline: \e0e1;
$mi-var-map: \e55b;
$mi-var-markunread: \e159;
$mi-var-markunread-mailbox: \e89b;
$mi-var-memory: \e322;
$mi-var-menu: \e5d2;
$mi-var-merge-type: \e252;
$mi-var-message: \e0c9;
$mi-var-mic: \e029;
$mi-var-mic-none: \e02a;
$mi-var-mic-off: \e02b;
$mi-var-mms: \e618;
$mi-var-mode-comment: \e253;
$mi-var-mode-edit: \e254;
$mi-var-monetization-on: \e263;
$mi-var-money-off: \e25c;
$mi-var-monochrome-photos: \e403;
$mi-var-mood: \e7f2;
$mi-var-mood-bad: \e7f3;
$mi-var-more: \e619;
$mi-var-more-horiz: \e5d3;
$mi-var-more-vert: \e5d4;
$mi-var-motorcycle: \e91b;
$mi-var-mouse: \e323;
$mi-var-move-to-inbox: \e168;
$mi-var-movie: \e02c;
$mi-var-movie-creation: \e404;
$mi-var-movie-filter: \e43a;
$mi-var-multiline-chart: \e6df;
$mi-var-music-note: \e405;
$mi-var-music-video: \e063;
$mi-var-my-location: \e55c;
$mi-var-nature: \e406;
$mi-var-nature-people: \e407;
$mi-var-navigate-before: \e408;
$mi-var-navigate-next: \e409;
$mi-var-navigation: \e55d;
$mi-var-near-me: \e569;
$mi-var-network-cell: \e1b9;
$mi-var-network-check: \e640;
$mi-var-network-locked: \e61a;
$mi-var-network-wifi: \e1ba;
$mi-var-new-releases: \e031;
$mi-var-next-week: \e16a;
$mi-var-nfc: \e1bb;
$mi-var-no-encryption: \e641;
$mi-var-no-sim: \e0cc;
$mi-var-not-interested: \e033;
$mi-var-note: \e06f;
$mi-var-note-add: \e89c;
$mi-var-notifications: \e7f4;
$mi-var-notifications-active: \e7f7;
$mi-var-notifications-none: \e7f5;
$mi-var-notifications-off: \e7f6;
$mi-var-notifications-paused: \e7f8;
$mi-var-offline-pin: \e90a;
$mi-var-ondemand-video: \e63a;
$mi-var-opacity: \e91c;
$mi-var-open-in-browser: \e89d;
$mi-var-open-in-new: \e89e;
$mi-var-open-with: \e89f;
$mi-var-pages: \e7f9;
$mi-var-pageview: \e8a0;
$mi-var-palette: \e40a;
$mi-var-pan-tool: \e925;
$mi-var-panorama: \e40b;
$mi-var-panorama-fish-eye: \e40c;
$mi-var-panorama-horizontal: \e40d;
$mi-var-panorama-vertical: \e40e;
$mi-var-panorama-wide-angle: \e40f;
$mi-var-party-mode: \e7fa;
$mi-var-pause: \e034;
$mi-var-pause-circle-filled: \e035;
$mi-var-pause-circle-outline: \e036;
$mi-var-payment: \e8a1;
$mi-var-people: \e7fb;
$mi-var-people-outline: \e7fc;
$mi-var-perm-camera-mic: \e8a2;
$mi-var-perm-contact-calendar: \e8a3;
$mi-var-perm-data-setting: \e8a4;
$mi-var-perm-device-information: \e8a5;
$mi-var-perm-identity: \e8a6;
$mi-var-perm-media: \e8a7;
$mi-var-perm-phone-msg: \e8a8;
$mi-var-perm-scan-wifi: \e8a9;
$mi-var-person: \e7fd;
$mi-var-person-add: \e7fe;
$mi-var-person-outline: \e7ff;
$mi-var-person-pin: \e55a;
$mi-var-person-pin-circle: \e56a;
$mi-var-personal-video: \e63b;
$mi-var-pets: \e91d;
$mi-var-phone: \e0cd;
$mi-var-phone-android: \e324;
$mi-var-phone-bluetooth-speaker: \e61b;
$mi-var-phone-forwarded: \e61c;
$mi-var-phone-in-talk: \e61d;
$mi-var-phone-iphone: \e325;
$mi-var-phone-locked: \e61e;
$mi-var-phone-missed: \e61f;
$mi-var-phone-paused: \e620;
$mi-var-phonelink: \e326;
$mi-var-phonelink-erase: \e0db;
$mi-var-phonelink-lock: \e0dc;
$mi-var-phonelink-off: \e327;
$mi-var-phonelink-ring: \e0dd;
$mi-var-phonelink-setup: \e0de;
$mi-var-photo: \e410;
$mi-var-photo-album: \e411;
$mi-var-photo-camera: \e412;
$mi-var-photo-filter: \e43b;
$mi-var-photo-library: \e413;
$mi-var-photo-size-select-actual: \e432;
$mi-var-photo-size-select-large: \e433;
$mi-var-photo-size-select-small: \e434;
$mi-var-picture-as-pdf: \e415;
$mi-var-picture-in-picture: \e8aa;
$mi-var-picture-in-picture-alt: \e911;
$mi-var-pie-chart: \e6c4;
$mi-var-pie-chart-outlined: \e6c5;
$mi-var-pin-drop: \e55e;
$mi-var-place: \e55f;
$mi-var-play-arrow: \e037;
$mi-var-play-circle-filled: \e038;
$mi-var-play-circle-outline: \e039;
$mi-var-play-for-work: \e906;
$mi-var-playlist-add: \e03b;
$mi-var-playlist-add-check: \e065;
$mi-var-playlist-play: \e05f;
$mi-var-plus-one: \e800;
$mi-var-poll: \e801;
$mi-var-polymer: \e8ab;
$mi-var-pool: \eb48;
$mi-var-portable-wifi-off: \e0ce;
$mi-var-portrait: \e416;
$mi-var-power: \e63c;
$mi-var-power-input: \e336;
$mi-var-power-settings-new: \e8ac;
$mi-var-pregnant-woman: \e91e;
$mi-var-present-to-all: \e0df;
$mi-var-print: \e8ad;
$mi-var-priority-high: \e645;
$mi-var-public: \e80b;
$mi-var-publish: \e255;
$mi-var-query-builder: \e8ae;
$mi-var-question-answer: \e8af;
$mi-var-queue: \e03c;
$mi-var-queue-music: \e03d;
$mi-var-queue-play-next: \e066;
$mi-var-radio: \e03e;
$mi-var-radio-button-checked: \e837;
$mi-var-radio-button-unchecked: \e836;
$mi-var-rate-review: \e560;
$mi-var-receipt: \e8b0;
$mi-var-recent-actors: \e03f;
$mi-var-record-voice-over: \e91f;
$mi-var-redeem: \e8b1;
$mi-var-redo: \e15a;
$mi-var-refresh: \e5d5;
$mi-var-remove: \e15b;
$mi-var-remove-circle: \e15c;
$mi-var-remove-circle-outline: \e15d;
$mi-var-remove-from-queue: \e067;
$mi-var-remove-red-eye: \e417;
$mi-var-remove-shopping-cart: \e928;
$mi-var-reorder: \e8fe;
$mi-var-repeat: \e040;
$mi-var-repeat-one: \e041;
$mi-var-replay: \e042;
$mi-var-replay-10: \e059;
$mi-var-replay-30: \e05a;
$mi-var-replay-5: \e05b;
$mi-var-reply: \e15e;
$mi-var-reply-all: \e15f;
$mi-var-report: \e160;
$mi-var-report-problem: \e8b2;
$mi-var-restaurant: \e56c;
$mi-var-restaurant-menu: \e561;
$mi-var-restore: \e8b3;
$mi-var-restore-page: \e929;
$mi-var-ring-volume: \e0d1;
$mi-var-room: \e8b4;
$mi-var-room-service: \eb49;
$mi-var-rotate-90-degrees-ccw: \e418;
$mi-var-rotate-left: \e419;
$mi-var-rotate-right: \e41a;
$mi-var-rounded-corner: \e920;
$mi-var-router: \e328;
$mi-var-rowing: \e921;
$mi-var-rss-feed: \e0e5;
$mi-var-rv-hookup: \e642;
$mi-var-satellite: \e562;
$mi-var-save: \e161;
$mi-var-scanner: \e329;
$mi-var-schedule: \e8b5;
$mi-var-school: \e80c;
$mi-var-screen-lock-landscape: \e1be;
$mi-var-screen-lock-portrait: \e1bf;
$mi-var-screen-lock-rotation: \e1c0;
$mi-var-screen-rotation: \e1c1;
$mi-var-screen-share: \e0e2;
$mi-var-sd-card: \e623;
$mi-var-sd-storage: \e1c2;
$mi-var-search: \e8b6;
$mi-var-security: \e32a;
$mi-var-select-all: \e162;
$mi-var-send: \e163;
$mi-var-sentiment-dissatisfied: \e811;
$mi-var-sentiment-neutral: \e812;
$mi-var-sentiment-satisfied: \e813;
$mi-var-sentiment-very-dissatisfied: \e814;
$mi-var-sentiment-very-satisfied: \e815;
$mi-var-settings: \e8b8;
$mi-var-settings-applications: \e8b9;
$mi-var-settings-backup-restore: \e8ba;
$mi-var-settings-bluetooth: \e8bb;
$mi-var-settings-brightness: \e8bd;
$mi-var-settings-cell: \e8bc;
$mi-var-settings-ethernet: \e8be;
$mi-var-settings-input-antenna: \e8bf;
$mi-var-settings-input-component: \e8c0;
$mi-var-settings-input-composite: \e8c1;
$mi-var-settings-input-hdmi: \e8c2;
$mi-var-settings-input-svideo: \e8c3;
$mi-var-settings-overscan: \e8c4;
$mi-var-settings-phone: \e8c5;
$mi-var-settings-power: \e8c6;
$mi-var-settings-remote: \e8c7;
$mi-var-settings-system-daydream: \e1c3;
$mi-var-settings-voice: \e8c8;
$mi-var-share: \e80d;
$mi-var-shop: \e8c9;
$mi-var-shop-two: \e8ca;
$mi-var-shopping-basket: \e8cb;
$mi-var-shopping-cart: \e8cc;
$mi-var-short-text: \e261;
$mi-var-show-chart: \e6e1;
$mi-var-shuffle: \e043;
$mi-var-signal-cellular-4-bar: \e1c8;
$mi-var-signal-cellular-connected-no-internet-4-bar: \e1cd;
$mi-var-signal-cellular-no-sim: \e1ce;
$mi-var-signal-cellular-null: \e1cf;
$mi-var-signal-cellular-off: \e1d0;
$mi-var-signal-wifi-4-bar: \e1d8;
$mi-var-signal-wifi-4-bar-lock: \e1d9;
$mi-var-signal-wifi-off: \e1da;
$mi-var-sim-card: \e32b;
$mi-var-sim-card-alert: \e624;
$mi-var-skip-next: \e044;
$mi-var-skip-previous: \e045;
$mi-var-slideshow: \e41b;
$mi-var-slow-motion-video: \e068;
$mi-var-smartphone: \e32c;
$mi-var-smoke-free: \eb4a;
$mi-var-smoking-rooms: \eb4b;
$mi-var-sms: \e625;
$mi-var-sms-failed: \e626;
$mi-var-snooze: \e046;
$mi-var-sort: \e164;
$mi-var-sort-by-alpha: \e053;
$mi-var-spa: \eb4c;
$mi-var-space-bar: \e256;
$mi-var-speaker: \e32d;
$mi-var-speaker-group: \e32e;
$mi-var-speaker-notes: \e8cd;
$mi-var-speaker-notes-off: \e92a;
$mi-var-speaker-phone: \e0d2;
$mi-var-spellcheck: \e8ce;
$mi-var-star: \e838;
$mi-var-star-border: \e83a;
$mi-var-star-half: \e839;
$mi-var-stars: \e8d0;
$mi-var-stay-current-landscape: \e0d3;
$mi-var-stay-current-portrait: \e0d4;
$mi-var-stay-primary-landscape: \e0d5;
$mi-var-stay-primary-portrait: \e0d6;
$mi-var-stop: \e047;
$mi-var-stop-screen-share: \e0e3;
$mi-var-storage: \e1db;
$mi-var-store: \e8d1;
$mi-var-store-mall-directory: \e563;
$mi-var-straighten: \e41c;
$mi-var-streetview: \e56e;
$mi-var-strikethrough-s: \e257;
$mi-var-style: \e41d;
$mi-var-subdirectory-arrow-left: \e5d9;
$mi-var-subdirectory-arrow-right: \e5da;
$mi-var-subject: \e8d2;
$mi-var-subscriptions: \e064;
$mi-var-subtitles: \e048;
$mi-var-subway: \e56f;
$mi-var-supervisor-account: \e8d3;
$mi-var-surround-sound: \e049;
$mi-var-swap-calls: \e0d7;
$mi-var-swap-horiz: \e8d4;
$mi-var-swap-vert: \e8d5;
$mi-var-swap-vertical-circle: \e8d6;
$mi-var-switch-camera: \e41e;
$mi-var-switch-video: \e41f;
$mi-var-sync: \e627;
$mi-var-sync-disabled: \e628;
$mi-var-sync-problem: \e629;
$mi-var-system-update: \e62a;
$mi-var-system-update-alt: \e8d7;
$mi-var-tab: \e8d8;
$mi-var-tab-unselected: \e8d9;
$mi-var-tablet: \e32f;
$mi-var-tablet-android: \e330;
$mi-var-tablet-mac: \e331;
$mi-var-tag-faces: \e420;
$mi-var-tap-and-play: \e62b;
$mi-var-terrain: \e564;
$mi-var-text-fields: \e262;
$mi-var-text-format: \e165;
$mi-var-textsms: \e0d8;
$mi-var-texture: \e421;
$mi-var-theaters: \e8da;
$mi-var-thumb-down: \e8db;
$mi-var-thumb-up: \e8dc;
$mi-var-thumbs-up-down: \e8dd;
$mi-var-time-to-leave: \e62c;
$mi-var-timelapse: \e422;
$mi-var-timeline: \e922;
$mi-var-timer: \e425;
$mi-var-timer-10: \e423;
$mi-var-timer-3: \e424;
$mi-var-timer-off: \e426;
$mi-var-title: \e264;
$mi-var-toc: \e8de;
$mi-var-today: \e8df;
$mi-var-toll: \e8e0;
$mi-var-tonality: \e427;
$mi-var-touch-app: \e913;
$mi-var-toys: \e332;
$mi-var-track-changes: \e8e1;
$mi-var-traffic: \e565;
$mi-var-train: \e570;
$mi-var-tram: \e571;
$mi-var-transfer-within-a-station: \e572;
$mi-var-transform: \e428;
$mi-var-translate: \e8e2;
$mi-var-trending-down: \e8e3;
$mi-var-trending-flat: \e8e4;
$mi-var-trending-up: \e8e5;
$mi-var-tune: \e429;
$mi-var-turned-in: \e8e6;
$mi-var-turned-in-not: \e8e7;
$mi-var-tv: \e333;
$mi-var-unarchive: \e169;
$mi-var-undo: \e166;
$mi-var-unfold-less: \e5d6;
$mi-var-unfold-more: \e5d7;
$mi-var-update: \e923;
$mi-var-usb: \e1e0;
$mi-var-verified-user: \e8e8;
$mi-var-vertical-align-bottom: \e258;
$mi-var-vertical-align-center: \e259;
$mi-var-vertical-align-top: \e25a;
$mi-var-vibration: \e62d;
$mi-var-video-call: \e070;
$mi-var-video-label: \e071;
$mi-var-video-library: \e04a;
$mi-var-videocam: \e04b;
$mi-var-videocam-off: \e04c;
$mi-var-videogame-asset: \e338;
$mi-var-view-agenda: \e8e9;
$mi-var-view-array: \e8ea;
$mi-var-view-carousel: \e8eb;
$mi-var-view-column: \e8ec;
$mi-var-view-comfy: \e42a;
$mi-var-view-compact: \e42b;
$mi-var-view-day: \e8ed;
$mi-var-view-headline: \e8ee;
$mi-var-view-list: \e8ef;
$mi-var-view-module: \e8f0;
$mi-var-view-quilt: \e8f1;
$mi-var-view-stream: \e8f2;
$mi-var-view-week: \e8f3;
$mi-var-vignette: \e435;
$mi-var-visibility: \e8f4;
$mi-var-visibility-off: \e8f5;
$mi-var-voice-chat: \e62e;
$mi-var-voicemail: \e0d9;
$mi-var-volume-down: \e04d;
$mi-var-volume-mute: \e04e;
$mi-var-volume-off: \e04f;
$mi-var-volume-up: \e050;
$mi-var-vpn-key: \e0da;
$mi-var-vpn-lock: \e62f;
$mi-var-wallpaper: \e1bc;
$mi-var-warning: \e002;
$mi-var-watch: \e334;
$mi-var-watch-later: \e924;
$mi-var-wb-auto: \e42c;
$mi-var-wb-cloudy: \e42d;
$mi-var-wb-incandescent: \e42e;
$mi-var-wb-iridescent: \e436;
$mi-var-wb-sunny: \e430;
$mi-var-wc: \e63d;
$mi-var-web: \e051;
$mi-var-web-asset: \e069;
$mi-var-weekend: \e16b;
$mi-var-whatshot: \e80e;
$mi-var-widgets: \e1bd;
$mi-var-wifi: \e63e;
$mi-var-wifi-lock: \e1e1;
$mi-var-wifi-tethering: \e1e2;
$mi-var-work: \e8f9;
$mi-var-wrap-text: \e25b;
$mi-var-youtube-searched-for: \e8fa;
$mi-var-zoom-in: \e8ff;
$mi-var-zoom-out: \e900;
$mi-var-zoom-out-map: \e56b;
